.body{
  background: #466368;
  background: linear-gradient(#293f50, #648880);
  margin: 0;
 
}
.header_picture {
    height: 70px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.header {
    height: 8em;
    padding: 2em 10%;
	background-color: #293f50;
   
}


.nav{
    margin-left: +1cm;
    padding: 10px;	
}
.nav_links {
	
    margin: 0 auto;
    padding: 10px;
}

div {
    display: block;
}
parent{
	display: block;
}
.child {
	text-align: center;
    margin-left: -2cm;
}
.child a {
    padding: 1em;
    background: #b9c9fe;
    border-right: 1px solid #b19891;
    color:#039;
	
}

a {
    color: white;
}
a:-webkit-any-link {
    
    cursor: pointer;
    text-decoration: underline;
}

li {
	display: list-item;
    text-align: -webkit-match-parent;
	
}
ul {
    list-style-type: disc;
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav_links1 {
 max-width:620px;
 margin:0 auto; 
 margin-top:20px; 
}

th {
  font-size: 13px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid white;
  color: #039;
  padding: 8px;
}
td {
  background: #e8edff;
  border-bottom: 1px solid white;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}
tr:hover td {
  background: #7FFFD4;
}
.nav_table{
   
 border-collapse: collapse;
 max-width:620px;
 margin-top:40px; 
 margin:0 auto;
 padding:50px;
}
.nav_form {
 max-width:375px;
 margin:0 auto; 
 margin-top:20px; 
 padding:25px;
 
 
}
.endfooter{
	background: #466368;
  background: linear-gradient(#293f50,#648880);
margin-top: 50px;
    
    height: 100px;
   
}
.ifooter{

overflow:hidden;
bottom: 1em;
right: 1em;
text-align: right;
}